body {
  margin: 0;
  font-family: Helvetica;
}

.mainTitle{
    display: block;
    font-size: 5em;
    margin: 0 auto;
    width: 5.5em;
}

.button{
  background-color: lightgrey;
  margin: 0 auto;
  margin-top: 1em;
  margin-left: 53.3em;
  width: 10em;
}

.scoreArea{
  font-size: 2em;
  margin: 1em;
  text-align: center;
}

.square{
  background-color: DarkSeaGreen;
  height: 8em;
  width: 8em;
}

.square:nth-child(2){
  border-left: 4px solid white;
  border-right: 4px solid white;
}

.square--x::before,
.square--o::before {
  font-size: 8em;
  line-height: 1em;
  font-weight: lighter;
  width: 1em;
  color: white;
  display: block;
  text-align: center;
}

.square--o::before {
  content: "O";
}

.square--x::before {
  content: "X";
}

.square--won::before {
  font-weight: bold;
  font-size: 8em;
  color: red;
}

.square--lost::before {
  opacity: 0.5;
}

.table{
  border-collapse: collapse;
  margin: 0 auto;
}

.table__row:nth-child(2){
  border-top: 4px solid white;
  border-bottom: 4px solid white;
}

@media screen and (max-width: 980px) {

  .mainTitle{
    display: block;
    font-size: 8em;
    margin-left: .7em;
    width: 100%;
  }

  .button{
    background-color: lightgrey;
    margin: 0 auto;
    margin-top: 1em;
    margin-left: 23em;
    width: 30em;
  }

  .scoreArea{
    font-size: 6em;
    margin: 1em;
    margin-left: .2em;
    text-align: center;
    width: 9em;
  }

  .square{
    background-color: DarkSeaGreen;
    height: 16em;
    width: 16em;
  }

  .square:nth-child(2){
    border-left: 4px solid white;
    border-right: 4px solid white;
  }

  .square--x::before,
  .square--o::before {
    font-size: 16em;
    line-height: 2em;
    font-weight: lighter;
    width: 2em;
    color: white;
    display: block;
    text-align: center;
  }

  .square--won::before {
    font-weight: bold;
    font-size: 16em;
    color: red;
  }
