body {
  margin: 0;
  font-family: Helvetica;
}

.mainTitle{
    display: block;
    font-size: 3em;
    margin: 0 auto;
    width: 5.5em;
}

.button{
  background-color: lightgrey;
  margin: 0 auto;
  margin-top: 1em;
  margin-left: 53.3em;
  width: 10em;
}

.scoreArea{
  font-size: 20px;
  margin: 1em;
  text-align: center;
}

.square{
  background-color: DarkSeaGreen;
  height: 100px;
  width: 100px;
}

.square:nth-child(2){
  border-left: 4px solid white;
  border-right: 4px solid white;
}

.square--x::before,
.square--o::before {
  font-size: 100px;
  line-height: 100px;
  font-weight: lighter;
  width: 100px;
  color: white;
  display: block;
  text-align: center;
}

.square--o::before {
  content: "O";
}

.square--x::before {
  content: "X";
}

.square--won::before {
  font-weight: bold;
  font-size: 120px;
  color: red;
}

.square--lost::before {
  opacity: 0.5;
}

.table{
  border-collapse: collapse;
  margin: 0 auto;
}

.table__row:nth-child(2){
  border-top: 4px solid white;
  border-bottom: 4px solid white;
}

@media screen and (max-width: 980px) {

  .mainTitle{
    display: block;
    font-size: 5em;
    margin-left: 4em;
    width: 100%;
  }

  .button{
    margin-left: 36em;
    width: 5.5em;
  }
